In [2]:
import ex2

population    9.070000e+01
square        5.800860e+06
dtype: float64

e:\SkillFactory\github\sf_data_science\pandas\ex2.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(countries_df.mean(axis=0))

In [3]:
import pandas as pd

# Method 1
# Создание dataFrame из словаря, ключи-имена столбцов, значения-списки

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
#countries_df.population
countries_df.mean(axis=0)

C:\Users\Pavel\AppData\Local\Temp/ipykernel_1320/3951935439.py:13: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  countries_df.mean(axis=0)

population    9.070000e+01
square        5.800860e+06
dtype: float64

In [4]:
type(countries_df.population)

pandas.core.series.Series

In [5]:
import pandas as pd
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df.to_csv('data/countries.csv', index=False, sep=';')

In [6]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [7]:
melb_data = pd.read_csv('data/melb_data.csv', sep=',')

In [8]:
x=melb_data.loc[3521, 'Landsize']
y=melb_data.loc[1690, 'Landsize']
display(x/y)

2.7857142857142856

In [9]:
melb_data.shape

(13580, 23)

In [10]:
melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [11]:
melb_data['Type'].value_counts(normalize=True)

h    0.695803
u    0.222165
t    0.082032
Name: Type, dtype: float64

In [12]:
melb_data.head(5)

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,202.0,126.0,1970.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1.0,94.0,126.0,1970.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0,"-37.8072, 144.9941"

In [13]:
melb_data['Distance'].max()

48.1

In [14]:
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [15]:
print(melb_data['Price'].mean())

1075684.079455081

In [16]:
print(melb_data['Car'].max())

10.0

In [17]:
rate = 0.12
income = melb_data['Price'].sum() * rate
print('Total income of real estate agencies:', round(income, 2))

Total income of real estate agencies: 1752934775.88

In [18]:
landsize_median = melb_data['Landsize'].median() 
landsize_mean =  melb_data['Landsize'].mean()
print(abs(landsize_median - landsize_mean)/landsize_mean)

0.21205713983546193

In [19]:
print(melb_data['Rooms'].mode())

0    3
dtype: int64

In [20]:
melb_data['Regionname'].mode()

0    Southern Metropolitan
dtype: object

In [21]:
#найти Чему равно максимальное количество объектов на продажу 35.7.2
melb_data['Propertycount'].max()

21650.0

In [29]:
 
data_point = pd.DataFrame([1, 2, 4, 2, 3, 2, 1, 5, 6])
data_point.mode()

   0
0  2

In [30]:
melb_data['Rooms'].mode(['Melbourne'])

0    3
dtype: int64

In [31]:
building_area_median = melb_data['BuildingArea'].median() 
building_area_mean =  melb_data['BuildingArea'].mean()
abs(building_area_median - building_area_mean)/building_area_mean

0.09764079662364533

In [32]:
#фильтрация  35.8

##У скольких объектов недвижимости из таблицы melb_data отсутствуют ванные комнаты
melb_data[melb_data['Bathroom'] == 0].shape[0]

34

In [33]:
## 35.8.2 Сколько в таблице melb_data объектов недвижимости, 
#которые были проданы риелтором Nelson и стоимость которых составила больше 3 миллионов?
melb_data[(melb_data['SellerG'] == 'Nelson') & (melb_data['Price'] > 3000000)].shape[0]

5

In [34]:
## Какова минимальная стоимость участка без здания (площадь здания равна 0) в таблице melb_data?
melb_data[melb_data['BuildingArea'] == 0]['Price'].min()

412500.0

In [35]:
## Какова средняя цена объектов недвижимости в таблице melb_data с ценой менее 1 миллиона,
#в которых либо количество комнат больше 5, либо здание моложе 2015 года?

melb_data[(melb_data['Price'] < 1000000)&((melb_data['Rooms'] > 5)|(melb_data['YearBuilt']>2015))]['Price'].mean()

769238.6363636364

In [36]:
# каком районе Мельбурна чаще всего продаются виллы и коттеджи (тип здания — h) с ценой меньше 3 миллионов?
melb_data[(melb_data['Type'] == 'h')&(melb_data['Price'] < 3000000)]['Regionname'].mode()

0    Northern Metropolitan
dtype: object

In [37]:
# Задание 36.4.4
# Напишите функцию get_experience(arg), аргументом которой является строка столбца с опытом работы.
# Функция должна возвращать опыт работы в месяцах. Не забудьте привести результат к целому числу.
def get_experience(arg):
    month_key_words = ['месяц', 'месяцев', 'месяца']
    year_key_words = ['год', 'лет', 'года']
    args_splited = arg.split(' ')
    month = 0
    year = 0
    for i in range(len(args_splited)):
        if args_splited[i] in month_key_words:
            month = args_splited[i-1]
        if args_splited[i] in year_key_words:
            year = args_splited[i-1]
    return int(year)*12 + int(month)
    pass


experience_col = pd.Series([
    'Опыт работы 8 лет 3 месяца',
    'Опыт работы 3 года 5 месяцев',
    'Опыт работы 1 год 9 месяцев',
    'Опыт работы 3 месяца',
    'Опыт работы 6 лет'
    ])
experience_month = experience_col.apply(get_experience)
display(experience_month)

0    99
1    41
2    21
3     3
4    72
dtype: int64