In [5]:
import pandas as pd
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [6]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [17]:
# Данные о скольких студентах содержатся в таблице?
student_data.shape[0]

1000

In [16]:
# Каков балл по письму у студента под индексом 155?
student_data.loc[155, 'writing score']

88

In [18]:
#Сколько суммарно пропущенных значений в таблице?
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [34]:
#Каков у студентов средний балл по математике?
int(student_data['math score'].mean())

66

In [35]:
#Какая расовая группа является самой крупной в учебном заведении?
student_data['race/ethnicity'].mode()

0    group C
dtype: object

In [38]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
int(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

73

In [41]:
# Сколько студентов получили 0 баллов по математике?
student_data[student_data['math score'] == 0].shape[0]

1

In [49]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием.
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов.
## Найти средний балл по математике у студентов с оплачиваемым питанием.
## Найти средний балл по математике у студентов с льготным питанием.

student_data[(student_data['lunch'] == 'standard')]['math score'].mean() #балл выше
student_data[(student_data['lunch'] == 'free/reduced')]['math score'].mean()

58.92112676056338

In [52]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
student_data["parental level of education"].value_counts(normalize=True)*100

some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

In [61]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается
# от среднего балла по письму у студентов в расовой группе C?

a=student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
b=student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()
int(abs(a-b))

5