In [37]:
import pandas as pd

In [38]:
ufo = pd.read_csv('data/ufo.csv', sep=',')
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [39]:
ufo['Time']=pd.to_datetime(ufo['Time'])
ufo['Year']=ufo['Time'].dt.year

In [40]:
ufo['Year'].mode()

0    1999
dtype: int64

In [41]:
ufo['Time']=pd.to_datetime(ufo['Time'])
ufo['Day']=ufo['Time'].dt.day

In [50]:
ufo['Date'] = ufo['Time'].dt.date
ufo[ufo['State']=='NV']['Date'].diff().dt.days.mean()

68.92932862190813